Source: qemu
Section: otherosfs
Priority: optional
Maintainer: Kylin Virt Team
Uploaders: Feng Jiang <jiangfeng@kylinos.cn>
Build-Depends: debhelper-compat (= 13),
 meson,
 python3-venv,
 pkgconf,
 libglib2.0-dev,
# --enable-pixman
 libpixman-1-dev,
# --enable-linux-aio
 libaio-dev,
# --enable-linux-io-uring
 liburing-dev,
# --enable-libnfs
 libnfs-dev,
# --enable-libseccomp-dev
 libseccomp-dev,
# --enable-pa
 libpulse-dev,
# --enable-alsa
 libasound2-dev,
# --enable-pipewire
 libpipewire-0.3-dev,
# --enable-spice-protocol
 libspice-protocol-dev,
# --enable-spice
 libspice-server-dev,
# --enable-libiscsi
 libiscsi-dev,
# --enable-zstd
 libzstd-dev,
# --enable-virglrenderer
 libvirglrenderer-dev,
# --enable-sdl
 libsdl2-dev,
# --enable-bzip2
 libbz2-dev,
# --enable-opengl
 libepoxy-dev,
# --enable-gnutls
 libgnutls28-dev,
# --enable-gtk
 libgtk-3-dev,
# --enable-vnc-sasl
 libsasl2-dev,
# --enable-vnc-jpeg
 libjpeg-dev,
# --enable-numa
 libnuma-dev,
# --enable-rdma
 libibumad-dev,
 librdmacm-dev,
 libibverbs-dev,
# --enable-smartcard
 libcacard-dev,
# --enable-usb-redir
 libusbredirparser-dev,
# --enable-libdw
 libdw-dev,
# --enable-fdt=system
 libfdt-dev,
Standards-Version: 4.6.1
Homepage: https://www.qemu.org/
Rules-Requires-Root: no



Package: qemu-block-extra
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: qemu-utils,
 qemu-system-x86, qemu-system-arm, qemu-system-misc
Description: Extra block backend modules for qemu-system and qemu-utils



Package: qemu-guest-agent
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Guest-side qemu-system agent



Package: qemu-system-common
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: QEMU full system emulation binaries (common files)



Package: qemu-system-data
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: QEMU full system emulation binaries (data files)



Package: qemu-system-gui
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 qemu-system-modules-opengl,
# libgl1 is dynamically loaded by sdl display code
 libgl1,
Description: QEMU full system emulation binaries (user interface and audio support)



Package: qemu-system-modules-opengl
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: QEMU full system emulation binaries (OpenGL modules)



Package: qemu-system-modules-spice
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 qemu-system-modules-opengl
Description: QEMU full system emulation binaries (spice modules)



Package: qemu-system
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 qemu-system-arm [arm64],
 qemu-system-x86 [amd64],
 qemu-system-misc
Description: QEMU full system emulation binaries



Package: qemu-system-x86
Architecture: amd64
Multi-Arch: foreign
Depends:  ${shlibs:Depends}, ${misc:Depends},
 qemu-system-common,
 qemu-system-data,
# roms
 ipxe-qemu, seabios,
Recommends: qemu-utils,
 qemu-system-gui,
 qemu-system-modules-spice,
 qemu-system-modules-opengl,
 qemu-block-extra,
Suggests: samba, vde2
Description: QEMU full system emulation binaries (x86)



Package: qemu-system-arm
Architecture: arm64
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 qemu-system-common,
 qemu-system-data
Recommends: qemu-utils,
 qemu-system-gui,
 qemu-system-modules-spice,
 qemu-system-modules-opengl,
 qemu-block-extra,
# roms
 ipxe-qemu, qemu-efi-aarch64,
Suggests: samba, vde2
Description: QEMU full system emulation binaries (arm)



Package: qemu-system-misc
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 qemu-system-common,
 qemu-system-data
Recommends: qemu-utils,
 qemu-system-gui,
 qemu-system-modules-spice,
 qemu-system-modules-opengl,
 qemu-block-extra,
# roms
 seabios, ipxe-qemu,
Suggests: samba, vde2
Description: QEMU full system emulation binaries (miscellaneous)



#Package: qemu-system-ppc
#Package: qemu-system-sparc
#Package: qemu-system-xen
#Package: qemu-system-mips



#Package: qemu-user
#Package: qemu-user-binfmt
#Package: qemu-user-static



Package: qemu-utils
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: qemu-block-extra
Description: QEMU utilities

